<html lang="en">
<head>
   {{>header}}
    <title>registration</title>
</head>
<body>
    {{>navbar}}
    
    <div class="home-page">

    </div>

    {{>footer}}
    {{>script}}
</body>
</html>